body {
  line-height: 1.5;
  padding: 4em 1em;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

#main-title {
  font-size: 80px;
  padding-top: 80px;
}

#main-page div {
  display: flex;
  flex-wrap: wrap;
}

#main-page img {
  width: 33%;
  align-self: center;
  position: relative;
  bottom: 100px;
}

#main-page h2 {
  display: inline;
  padding-left: 20%;
  position: relative;
  top: 100px;
}

.outlier {
  stroke: red !important;
}

em {
  font-weight: 500;
  background-color: #ccff00;
}

p {
  font-size: 18px;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 1.75;
}

.ref {
  font-size: 12px;
  font-weight: 200;
}

h1 {
  text-align: center;
  padding-top: 70px;
}

.more_1000 {
  color: red;
}

#frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  transition: all 0.5s ease;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: +1;
}

.sticky {
  transition: all 0.5s ease;
  background-color: #d90427e3;
}

.menu a {
  margin: 10px;
  font-size: 14px;
}

.menu a:visited,
.menu a:link {
  color: white;
  font-style: normal;
  text-decoration: none;
  background-color: #262626;
  width: auto;
  padding: 5px;
  border-radius: 0.5em;
}

.menu a:hover {
  color: #d90429;
}

#interactive {
  padding-bottom: 20px;
}

#jharden:hover {
  transition: all 0.1s ease;
  opacity: 1;
}
#jharden:active {
  transform: translateY(4px);
}

.clicked-img {
  transition: all 0.1s ease;
  opacity: 1 !important;
}

#jharden {
  opacity: 0.6;
}

.made-text {
  fill: greenyellow;
}

.hidden {
  display: none;
}

.hidden-harden {
  display: none;
}

.showMade {
  display: none;
}

#message-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-cont p {
  font-size: 40px;
  padding-top: 30px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  right: 100px;
}

#top-inter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-container {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#btn-container button {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 0.5em;
  border: #262626 solid 3px;
}

.info-mess {
  color: #262626;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  position: relative;
  right: 100px;
  padding-top: 10px;
}

#interactive img {
  width: 33%;
  position: relative;
  left: 33%;
  border: #262626 solid 3px;
  border-radius: 2em;
  z-index: -1;
}

#interactive p {
  padding-top: 20px;
}

.player-shots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-inter {
  width: 100%;
}

.quarter-container button {
  width: 15%;
  padding: 10px;
  margin: 5px;
  color: black;
  font-weight: 500;
  font-size: 15px;
  background-color: #c6a27e;
  border-radius: 1em;
  border: 4px solid black;
}

#presentation {
  width: 37%;
  font-size: 18px;
  display: inline-block;
}

#graphs {
  width: 63%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}

#graphs svg {
  margin-right: 20px;
  margin-top: 40px;
}

#dashboard {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

#shotwer {
  display: flex;
}

.control-box {
  width: 45%;
}

.control-box h2 {
  padding-top: 20px;
  padding-left: 60px;
}

.control-box input {
  margin-left: 10%;
}

.shw-btns {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.shw-btns button {
  width: 10%;
  margin: 5px;
  padding: 5px;
  border-radius: 0.5em;
  border: #262626 solid 3px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: black;
  box-shadow: 2px 3px 2px 1px #888888;
}

.player-search {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

#shotwer {
  padding-top: 80px;
  margin-bottom: 80px;
}

#apply {
  height: 40px;
  width: 80px;
}

#mini-container {
  position: relative;
  left: 33%;
}

fieldset {
  width: 100%;
  border-radius: 1em;
  border: #262626 solid 5px;
  font-family: "Roboto Mono", monospace;
}

fieldset button {
  background-color: white;
  margin-left: 10px;
  font-size: 18px;
  padding: 5px;
  border-radius: 0.5em;
  margin-bottom: 15px;
  box-shadow: 2px 3px 2px 1px #888888;
}

.p1-input {
  background-color: #ff9933;
  border: #262626 solid 3px;
  padding: 5px;
}

.p2-input {
  background-color: #3399ff;
  border: #262626 solid 3px;
  padding: 5px;
}

fieldset input {
  font-size: 18px;
}

.player-search form {
  width: 80%;
}

fieldset legend {
  font-size: 30px;
}

#apply-btn {
  position: relative;
  left: 80%;
  font-size: 24px;
  border-radius: 0.5em;
  border: #262626 solid 3px;
  padding: 10px;
  box-shadow: 2px 3px 2px 1px #888888;
}

#apply-btn:hover,
fieldset button:hover,
#allz-btn:hover,
.shw-btns button:hover {
  background-color: #262626;
  color: white;
}

#allz-btn {
  position: relative;
  left: 38.6%;
  font-size: 22px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 0.5em;
  border: #262626 solid 3px;
  box-shadow: 2px 3px 2px 1px #888888;
}

#shotwer h3 {
  margin-left: 30%;
  padding: 10px;
}

#eda-title {
  margin-top: 70px;
}

#bold-big {
  font-size: 25px;
  font-weight: bold;
}

.center-btn {
  position: relative;
  left: 35%;
  padding: 10px;
  margin-top: 20px;
  font-size: 22px;
  font-family: "Roboto Mono", monospace;
  color: white;
  background-color: #d90429;
  border-radius: 0.5em;
  border: #262626 solid 3px;
  box-shadow: 2px 3px 2px 1px #888888;
}

/*# sourceMappingURL=index.a45764df.css.map */
